<div class="container" style="margin-top:110px">
    <div class="row">
        <div class="col">

            <h1>About us:</h1>
            <hr>
            <hr>
            <p>Experience Personalized Online Shopping in Bangladesh with TheRac.com.bd
                Online Shopping BD has never been easier. TheRac.com.bd is best online shopping store in Bangladesh that features 10+ million products at affordable prices. As bangaldesh's online shopping landscape is expanding every year, online shopping in dhaka, chittagong, khulna, sylhet and other big cities are also gaining momentum. TheRac is among best websites for online shopping in bangladesh that promises fast, reliable and convenient delivery of products to your doorstep. TheRac being the trusted online shop in Bangladesh aims to provide a trouble-free shopping experience for the people of Bangladesh but is also providing ample opportunity for international online shopping from Bangladesh. TheRac aims to make online shopping accessible to all parts of the country.<br><br>  

                Everyone is encouraged to shop with confidence at <b>TheRac.com.bd</b> as our strict buyer’s protection policies ensure no risks while shopping online.
                
                Among tons of online stores in Bangladesh, TheRac aims to strictly adhere to international quality standards ensuring trust and reliability in customer service and originality in product delivery. Realizing the surge in ecommerce platform in bangladesh, TheRac aims to redefine online shopping experience with home delivery, cash on delivery and installment facility for shoppers across country. Our assortment includes 100% original products from leading electronics, fashion, beauty, and lifestyle brands. Especially for shoppers who do not have debit cards or credit cards, TheRac provides a facility of online shopping with cash on delivery to your home. To enhance your online shopping experience, we encourage you to download TheRac app for Android & IOS and have a taste of personalized shopping experience based on your interest and shopping needs. You can also check TheRac online shopping videos on YouTube to have a clear idea.
                
                TheRac is a global online marketplace with ecommerce stores in Pakistan, Bangladesh,
                </p>
        </div>
    </div>
</div>