<ng-container *ngIf="products.length !=0">
    <div class="container" style="margin-top:110px">
        <div class="card-table">
            <div class="cart-product">
                <div>
                    <h2 style="text-align: center; background-color: #023e73; color: aliceblue;">My Cart</h2>
                </div>
                <div>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>Product Name</th>
                                <th>Product Image</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of products; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.title}}</td>
                                <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                                <td style="width: 25%;">{{item.description}}</td>
                                <th style="width: 12%;">${{item.price}}</th>
                                <td style="width: 12%;">{{item.quantity}}</td>
                                <td style="width: 12%;">${{item.total}}</td>
                                <td>
                                    <button (click)="removeItem(item)" class="btn btn-danger"><i
                                            class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <tr style="background-color: #023e73">
                                <td colspan="4"></td>
                                <td><button (click)="emptycart()" class="btn btn-outline-danger"
                                        style="color:aliceblue">Empty Cart</button></td>
                                <td><button routerLink="/products" class="btn btn-outline-warning"
                                        style="color:aliceblue">Shop More</button></td>
                                <td><button routerLink="/customarlogin" class="btn btn-outline-success"
                                        style="color:aliceblue">Check Out</button></td>
                                <td style="color: aliceblue"><strong>Grand Total : ${{grandTotal}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container" style="margin-top:110px">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="./assets/empty-card.jpg" alt="Empty">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/products" class="btn btn-outline-light  px-5" style="background-color: #023e73">Shop
                Now</button>
        </div>
    </div>
</ng-container>